$text-color:       #111 !default;
$background-color: #f7f7f7 !default;
$brand-color:      #e22a72 !default;
$border-color:     #e5e5e5 !default;

$grey-color:       #8b9198 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
